{
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "parser": "typescript",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": true,
  "useTabs": false,
  "trailingComma": "all"
}
